@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f4f3;
}

.todo-list {
}

.new-todo {
  background: #5e503f;
}

.new-todo button:hover {
  background: #e9eceb;
}

.todo {
  background: #5e503f;
  color: #f2f4f3;
}